.body1 {
    font-family: serif, monospace;
    /*
    Medidas Absolutas
    cm, mm, in(polegada), px (pixel), pt, pc.
    
    Medidas Relativas
    em (relativo ao tamanho da fonte), ex (relativo ao tamanho da altura x da fonte), rem (parecido com `em`) , vw (relativo ao viewport, tamanho da tela), vh (altura da viewport), %.     
    16px geralmente = 1em
    */
    font-size: 1em;
}

h1 {
    font-style: italic;
    font-weight: bolder;
    font-size: 3em;
    font-family: fantasy;
    
    /*shorthand(máozinha), a tag -font- resume as 4 tags a cima, na ordem: font-syle, font-weight, font-size e font-family*/
}

h2 {
    font: italic 900 2em arial;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*
    Weight (peso) (lighter(100), normal(400), bold(600), border(800)
    width (largura)
    height (altura)*/
    font-style: italic;
    text-decoration: underline;
}